<div class="container-adopt">
    <div class="adopt-text">
        <p class="text-adopt">
            You're adopting {{animal.animalname}} <br>
            please write your user's id so we can <br>
            register you on our database. <br>
            <br>
            Thank you for adopting!
        </p>
    </div>
    <br>
    <div class="id-user-adopt">
        <label class="text-adopt">ID</label>
        <input type="text" id="Name" name="Name" class="input-adopt"/>
    </div>
    <br>
    <div>
        <a href="/">
         <button class="final-adopt-button" , type="submit">
        <script>
            console.log(Name)
        </script>
          Adopt me!
      </button>
      </a>
    </div>
</div>