
<div class="container-tittle">
    <span class="tittle-profile">User profile</span>
</div>
<div class="container-datails">
  <br>
  <img src={{user.picture}} class="image-detail"> </img>
  <br>
  <div class="content-detail">
    <br>
    <span class="attribute-detail">
      Name:{{user.name}}
    </span>
    <br>
    <span class="attribute-detail">
      Email: {{user.email}}
    </span>
    <br>
    <span class="attribute-detail">
      Location: {{user.locale}}
    </span>
  </div>
</div>